  .body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:  #555;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float:right; 
  }
  .container {
    border-radius: 15px;
    text-align: center
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    border-radius: 15px;
    text-align: center
  }
  .photo{
    width: 75px;
    height: 70px;
    border-radius: 50%;
  }
  .addBtn {
    width: 25%;
    background: #d9d9d9;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    font-size: 17px;
  }
  .addBtn:hover {
    background-color: #bbb;
  }
  .ul1{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
  }
  .ul1 li{
    background: #ffffcc;
    position: relative;
  }